<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= character.name %> | Campaign Notes
    </title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="container">
        <%- include('partials/sidenav') %>
            <main class="content">
                <h1>
                    <%= character.name %>
                </h1>
                <p><strong>Type:</strong>
                    <%= character.type %>
                </p>
                <p><strong>Class:</strong>
                    <%= character.class %>
                </p>
                <p><strong>Level:</strong>
                    <%= character.level %>
                </p>
                <p><strong>Alignment:</strong>
                    <%= character.alignment %>
                </p>
                <p>
                    <%= character.description %>
                </p>

                <h2>Statblock</h2>
                <ul>
                    <li><strong>Strength:</strong>
                        <%= character.strength %>
                    </li>
                    <li><strong>Dexterity:</strong>
                        <%= character.dexterity %>
                    </li>
                    <li><strong>Constitution:</strong>
                        <%= character.constitution %>
                    </li>
                    <li><strong>Intelligence:</strong>
                        <%= character.intelligence %>
                    </li>
                    <li><strong>Wisdom:</strong>
                        <%= character.wisdom %>
                    </li>
                    <li><strong>Charisma:</strong>
                        <%= character.charisma %>
                    </li>
                    <li><strong>Total Health:</strong>
                        <%= character.total_health %>
                    </li>
                </ul>

                <p><strong>Status:</strong>
                    <%= character.deceased ? 'Deceased' : 'Alive' %>
                </p>
            </main>
    </div>
</body>


</html>